.better-auto-complete {
  position: relative;
  width: 350px;
  .loading-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.better-suggestion-list {
  position: absolute;
  width: auto;
  min-width: 350px;
  list-style:none;
  padding-left: 0;
  white-space: nowrap;
  background: $white;
  z-index: 100;
  border: $menu-border-width solid $menu-border-color;
  box-shadow: $submenu-box-shadow;
  .suggestion-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    color: $body-color;
    &.is-active {
      background: $menu-item-active-color !important;
      color: $white !important;
    }
    &:hover {
      color: $menu-item-active-color !important;
    }
  }
}