.better-tabs-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
}

.better-tabs-nav-item {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $nav-tabs-link-hover-color;
  }
  &.disabled {
    color: $nav-link-disabled-color;
    // pointer-events: none;
    cursor: not-allowed;
    background-color: transparent;
    border-color: transparent;
  }
  &.is-active {
    color: $nav-tabs-link-active-color;
  }
}
.nav-line {
  .better-tabs-nav-item {
    &.is-active {
      border-bottom: $nav-tabs-border-width * 2 solid  $nav-tabs-link-active-color;
    }   
  }  
}

.nav-card {
  .better-tabs-nav-item {
    border: $nav-tabs-border-width solid transparent;
    margin-bottom: -$nav-tabs-border-width;
    &.is-active {
      @include border-top-radius($nav-tabs-border-radius);
      background-color: $nav-tabs-link-active-bg;
      border-color: $nav-tabs-link-active-border-color;
    }   
  }  
}

.better-tabs-content {
  margin-top: $nav-tabs-content-margin;
}