.better-icon {
  margin: 5px 5px 0 0;
}
.combine-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@each $key, $val in $theme-colors {
  .icon-#{$key} {
    color: $val;
  }
}