$alert-colors: 
(
  "default":    $light-blue,
  "success":    $light-green,
  "warning":    $light-orange,
  "danger":     $light-red,
);
.better-alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius: $alert-border-radius;
  .better-alert-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
    cursor: pointer;
  }
  .bold-title {
    font-weight: $font-weight-bold;
  }
  .better-alert-desc {
    font-size: $alert-description-font-size;
    margin: $alert-description-top-margin 0 0;
  }
}
@each $color, $value in $alert-colors {
  .better-alert-#{$color} {
    @include alert-style($value, darken($value, 10%), $gray-700);
  }
}

